TWS_PORT=9006
TWS_LOG_WRITE=1
TWS_LOG_LEVEL=1
TWS_LOG_SPLIT_LINES=800000
TWS_LOG_QUEUE_SIZE=800
TWS_TRIG_MODE=3
TWS_OPT_LINGER=0
TWS_SQL_NUM=8
TWS_THREAD_NUM=8
TWS_THREADPOOL_MAX_THREADS=16
TWS_THREADPOOL_IDLE_TIMEOUT=30
TWS_MYSQL_IDLE_TIMEOUT=60
TWS_CONN_TIMEOUT=15
TWS_CLOSE_LOG=0
TWS_ACTOR_MODEL=0
TWS_DAEMON_MODE=0
TWS_PID_FILE=./atlas-webserver.pid
TWS_HTTPS_ENABLE=0
TWS_HTTPS_CERT_FILE=./certs/server.crt
TWS_HTTPS_KEY_FILE=./certs/server.key
TWS_AUTH_TOKEN=
TWS_DB_HOST=127.0.0.1
TWS_DB_PORT=3306
TWS_DB_USER=root
TWS_DB_PASSWORD=
TWS_DB_NAME=qgydb
