server
*.o
*.out
*.log
*.pid

ServerLog/
log/*.log

certs/
*.crt
*.key
*.pem

mysql-data/
docker/mysql/data/
docker/mysql/*.sql.tmp

.vscode/
.idea/
.DS_Store

TinyWebServer.pid

reports/
root/uploads/*wrk-demo.txt
